@import "tailwindcss";
.fresh-gradient {
  background-color: rgb(134, 239, 172);
  background-image: linear-gradient(
    to right bottom,
    rgb(219, 234, 254),
    rgb(187, 247, 208),
    rgb(254, 249, 195)
  );
}

.hand {
  position: relative;
  width: 600px;
  height: 200px;
}

.card {
  position: absolute;
  width: 120px;
  height: 168px;
  border: 2px solid #000;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
